body
{
    background-image:url("https://static1.squarespace.com/static/559ecee6e4b0fddece22d0da/t/55ab587de4b0ba2b92817a25/1437523696948/blue+background+2.jpg?format=1500w");
}
#bernieimg
{
    width:30%;
    display:block;
    margin-left:auto;
    margin-right:auto;
}
#berniesanders2016
{
    text-align:center;
    font-size:30px;
}
#navbar
{
    list-style-type: none;
    padding: 0;
}
#navbar li
{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}
#navbar li a
{
    display: block;
    padding: 8px 0 8px 16px;
    text-decoration: none;
    width: 60px;
    background-color:#333;
    color:white;
}
#navbar li .active
{
    background-color:#4CAF50;
}
#navbar li a:hover
{
    background-color:black;
}
#introduction
{
    color:white;
}
#introduction p
{
    text-align:center;
}
.blogtitle
{
    color:white;
}
.blogdate
{
    color:white;
}
.blogtext
{
    color:white;
}
#disclaimer
{
    text-align:center;
    color:white;
}
#customamount
{
    width:50px;
}
.hidden
{
    display:none;
}